# SQLite
DB_TYPE=better-sqlite3
DB_DATABASE=./db.sqlite

# Desativar o DB_SYNCHRONIZE em produção
DB_SYNCHRONIZE=1
DB_AUTO_LOAD_ENTITIES=1

# Jwt Config
JWT_SECRET=''
JWT_EXPIRATION='1d'

APP_PORT=3001

NODE_ENV='production'

CORS_WHITELIST='http://localhost:3000 https://dominioutilizado'


